<header>
    <div class="social">
        <a class="article-link easing" routerLink="/">
            Chess <i class="fas fa-chess"></i>
        </a>
        <a class="article-link easing" routerLink="/tictac">
            Tic Tac <i class="fas fa-square"></i>
        </a>
    </div>

    <a class="mobile-nav-toggle easing" [ngClass]="{'active': this.navActive}" (click)="this.navActive = !this.navActive;">
        <i class="fa fa-bars"></i>
    </a>

    <div class="social">
        <a class="article-link easing" href="https://chriscates.ca/a/chess" target="_blank">
            Article on ChrisCates.ca <i class="far fa-newspaper"></i>
        </a>
        <a class="social-link easing" href="https://chriscates.ca" target="_blank">
            <i class="fas fa-home"></i>
        </a>
    </div>
</header>

<div class="mobile-nav easing" [ngClass]="{'active': this.navActive}">
    <div class="social">
        <a href="https://chriscates.ca/a/chess" target="_blank" class="easing">
            <i class="far fa-newspaper"></i> Article on ChrisCates.ca
        </a>
        <a href="https://github.com/ChrisCates/chess-ai.ts" target="_blank" class="easing">
            <i class="fab fa-github-square"></i> Source Code on Github
        </a>
        <a class="social-link easing">
            <i class="fas fa-mail-bulk"></i> hello@chriscates.ca
        </a>
        <a class="social-link easing" href="https://github.com/ChrisCates" target="_blank">
            <i class="fab fa-github-square"></i> @ChrisCates
        </a>
        <a class="social-link easing" href="https://medium.com/@yoitschriscates" target="_blank">
            <i class="fab fa-medium"></i> @YoItsChrisCates
        </a>
        <a class="social-link easing" href="https://linkedin.com/in/itsChrisCates" target="_blank">
            <i class="fab fa-linkedin"></i> @ItsChrisCates
        </a>
    </div>
</div>

<router-outlet></router-outlet>

<footer>
    <div class="footer-brand">
        <div class="footer-images">
            <img src="/assets/img/me.jpg" class="brand-img" />
            <img src="/assets/img/lambda.png" class="brand-img" />
        </div>
        <h3>Chris Cates, Software, Robotics and Math</h3>
    </div>
    <div class="footer-columns">
        <div class="column">
            <div class="links">
                <a href="https://chriscates.ca/a/chess" target="_blank" class="easing">
                    <i class="far fa-newspaper"></i> Article on ChrisCates.ca
                </a>
                <a href="https://github.com/ChrisCates/chess-ai.ts" target="_blank" class="easing">
                    <i class="fab fa-github-square"></i> Source Code on Github
                </a>
                <a class="social-link easing">
                    <i class="fas fa-mail-bulk"></i> hello@chriscates.ca
                </a>
            </div>
        </div>
        <div class="column">
            <div class="algo">
                <ng-katex [equation]="this.bayes"></ng-katex>
            </div>
            <div class="algo-description">
                <p>Bayesian Analysis is when you update your prior beliefs after considering new evidence</p>
            </div>
        </div>
    </div>
</footer>