@import "./styles.scss";
header {
    &.hidden {
        display: none;
    }
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $g2;
    border-bottom: 2px solid $g1;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    div.nav {
        height: 100%;
        display: flex;
        align-items: center;
        a.nav-option {
            width: 100px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: bold;
            &.active {
                background: $b1;
            }
        }
    }
    div.social {
        display: flex;
        flex-direction: row;
        a.social-link {
            width: 50px;
            height: 50px;
            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            &:hover {
                background: $b1;
            }
        }
        a.article-link {
            width: auto;
            padding: 0 15px;
            height: 50px;
            font-size: 18px;
            font-weight: bold;
            i {
                margin-left: 10px;
                font-size: 25px;
            }
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            &:hover {
                background: $b1;
            }
        }
    }
    div.brand {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 15px;
        img.brand-img {
            width: 40px;
            height: 40px;
            margin-right: 15px;
            border-radius: 50%;
        }
        h1 {
            font-weight: 400;
            font-size: 18px;
        }
    }
}

div.mobile-nav {
    position: fixed;
    right: -250px;
    top: 50px;
    width: 250px;
    height: calc(100vh - 50px);
    background: $g2;
    color: white;
    overflow-y: auto;
    z-index: 999;
    &.active {
        right: 0;
    }
    div.nav {
        width: 100%;
        display: block;
        margin-bottom: 30px;
        a {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            padding: 0 15px;
            color: white;
            &.active {
                background: $b1;
            }
        }
    }
    div.social {
        width: 100%;
        display: block;
        margin-bottom: 30px;
        a {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0 15px;
            color: white;
            i {
                position: relative;
                top: 1px;
                font-size: 25px;
                margin-right: 15px;
            }
            &:hover {
                background: $b1;
            }
        }
    }
}

a.mobile-nav-toggle {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: white;
    &.active {
        background: $b1;
    }
}

@media(max-width: 600px) {
    *.no-mobile {
        display: none;
    }
    *.show-mobile-flex {
        display: flex !important;
    }
}

@media (max-width: 600px) {
    header {
        div.nav a.nav-option {
            display: none;
        }
        div.social {
            display: none;
        }
        a.mobile-nav-toggle {
            display: flex;
        }
    }
}

footer {
    width: 100%;
    background: black;
    border-top: 2px solid $g1;
    padding: 50px 0;
    div.footer-brand {
        width: 100%;
        max-width: 1200px;
        padding: 15px;
        margin: auto;
        display: flex;
        align-items: center;
        div.footer-images {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 15px;
        }
        @media (max-width: 600px) {
            flex-wrap: wrap;
            justify-content: center;
            margin: none;
            div.footer-images {
                margin-bottom: 30px;
            }
            h3 {
                display: block;
                text-align: center;
                width: 100%;
                font-size: 14px;
            }
        }
    }
    div.footer-columns {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        div.column {
            width: 50%;
            padding: 15px;
            @media (max-width: 600px) {
                width: 100%;
            }
            div.algo-description {
                padding: 15px;
                p {
                    font-size: 24px;
                    text-align: center;
                }
                @media (max-width: 600px) {
                    p {
                        font-size: 14px;
                    }
                }
            }
            div.algo {
                font-size: 32px;
                margin-bottom: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                @media (max-width: 600px) {
                    font-size: 18px;
                }
            }
            div.links {
                padding: 15px 0;
                a {
                    display: block;
                    margin-bottom: 15px;
                    color: white;
                    font-size: 24px;
                    i {
                        margin-right: 5px;
                    }
                    &:hover {
                        color: $b1;
                    }
                }
                @media (max-width: 600px) {
                    width: 100%;
                    a {
                        font-size: 18px;
                        text-align: center;
                    }
                }
            }
        }
    }
    @media (max-width: 600px) {
        div.footer-columns {
            display: block;
        }
    }
}