$board-size: 500px;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700');

$g1: #1E1E1E;
$g2: darken($g1, 10%);
$g3: darken($g1, 20%);
$g4: lighten($g1, 10%);

$b1: #327CCB;
$b2: rgb(112, 181, 255);

$t1: white;

body {
    margin: 0;
    font-family: Source Sans Pro;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: $t1;
    background: $g1;
    overflow-x: hidden;
}

a {
    color: $b1;
    text-decoration: none;
}

* {
    margin: 0px;
    box-sizing: border-box;
}

*.easing {
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

.standard-editor {
    height: 100% !important;
    .editor-container {
        height: 100% !important;
    }
}

div.container {
    width: 100%;
    min-height: calc(100vh - 350px);
    background: $g4;
    height: auto;
    margin: auto;
    padding: 50px 0 0 0;
}