<div class="container">
    <div class="chess-board">
        <div class="main-row">

            <div class="game-info">
                <div class="game-info-section">
                    <p class="label">Turn</p>
                    <img src="/assets/chess/{{this.turn}}-p.svg" class="label-img" />
                </div>
                <div class="game-info-section">
                    <p class="label">Moves</p>
                    <h2>{{this.totalMoves}}</h2>
                </div>
                <div class="game-info-section">
                    <p class="label"><i class="fas fa-clock"></i> AI</p>
                    <h2>{{this.aiTime}}s</h2>
                </div>
                <div class="game-info-section">
                    <p class="label"><i class="fas fa-clock"></i> User</p>
                    <h2>{{this.humanTime}}s</h2>
                </div>
                <div class="game-info-section">
                    <p class="label"><img src="/assets/chess/w-q.svg" /> Check</p>
                    <h2>{{this.check}}</h2>
                </div>
                <div class="game-info-section">
                    <p class="label"><img src="/assets/chess/w-k.svg" /> Mate</p>
                    <h2>{{this.checkmate}}</h2>
                </div>
            </div>

            <div class="board">
                <div class="row" *ngFor="let row of this.display;">
                    <div class="square" *ngFor="let item of row;" (click)="this.action(item);">
                        <div class="blip-container" [ngClass]="{'possibleMove': this.activeMoves.indexOf(item.square) > -1}">
                            <div class="blip"></div>
                            <div class="blip"></div>
                            <div class="blip"></div>
                        </div>
                        <div class="gradient-container" [ngClass]="{'activeSquare': this.activeSquare == item.square}">

                        </div>
                        <span class="position">{{item.square}}</span>
                        <img src="/assets/chess/{{item.status.color}}-{{item.status.type}}.svg" class="chess piece" [ngClass]="{'visible': item.status.type}" />
                    </div>
                </div>
            </div>

            <div class="move-list">
                <div class="move-list-title">
                    <h2>Move History</h2>
                </div>
                <div class="moves-container">
                    <div class="move easing" *ngFor="let move of this.moveHistory;">
                        <img src="/assets/chess/{{move.color}}-{{move.piece}}.svg" class="chess piece" />
                        <p>
                            at {{move.time}} moved from {{move.from}} to {{move.to}}
                        </p>
                        <div class="move-capture" [ngClass]="{'active': move.captured}">
                            <img src="/assets/chess/{{move.color}}-{{move.piece}}.svg" class="chess piece" />
                            <p>
                                captured
                            </p>
                            <img src="/assets/chess/{{this.invertedColor(move.color)}}-{{move.captured}}.svg" class="chess piece" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>