@import "../styles.scss";
@import "./chess.board.scss";
div.game-info {
    border-top: 2px solid $g1;
    border-bottom: 2px solid $g1;
    background: $g4;
    width: 100%;
    height: 75px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    div.game-info-section {
        width: 75px;
        height: 100%;
        border-right: 2px solid $g1;
        &:first-of-type {
            border-left: 2px solid $g1;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        &.section-flex {
            width: 100%;
            border-right: none;
            flex-direction: row;
            justify-content: flex-start;
        }
        p.label {
            position: absolute;
            left: 5px;
            top: 5px;
            font-size: 12px;
            font-weight: bold;
            img {
                height: 12.5px;
                width: 12.5px;
            }
            i {
                margin-right: 2.5px;
            }
        }
        img.label-img {
            width: 25px;
            height: 25px;
        }
    }
}

div.main-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

div.right-row {
    width: 100%;
    max-width: $side-size;
    height: 100%;
}

div.move-list {
    width: 100%;
    height: calc(100vh - 293px);
    background: $g4;
    div.move-list-title {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 15px;
        background: $g1;
        h2 {
            font-size: 24px;
            font-weight: 400;
        }
    }
}

div.footer {
    width: 100%;
    height: 300px;
    background: black;
    div.footer-brand {
        width: 100%;
        max-width: 1200px;
        padding: 15px;
        margin: auto;
        display: flex;
        align-items: center;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 15px;
        }
    }
    div.columns {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 15px;
        display: flex;
        div.column {
            width: 50%;
            div.links {
                padding: 15px 0;
                a {
                    display: block;
                    margin-bottom: 15px;
                    color: white;
                    font-size: 24px;
                    i {
                        margin-right: 5px;
                    }
                    &:hover {
                        color: $b1;
                    }
                }
            }
        }
    }
}