@import "../styles.scss";
@import "./chess.board.scss";

div.game-info {
    background: $g4;
    border-bottom: 2px solid $g1;
    width: 100%;
    height: 75px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    div.game-info-section {
        width: 75px;
        height: 100%;
        border-right: 2px solid $g1;
        &:last-of-type {
            border-right: 2px solid transparent;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        &.section-flex {
            width: 100%;
            border-right: none;
            flex-direction: row;
            justify-content: flex-start;
        }
        p.label {
            position: absolute;
            left: 5px;
            top: 5px;
            font-size: 12px;
            font-weight: bold;
            img {
                height: 12.5px;
                width: 12.5px;
            }
            i {
                margin-right: 2.5px;
            }
        }
        img.label-img {
            width: 25px;
            height: 25px;
        }
    }
}

div.main-row {
    display: block;
    width: auto;
    margin: auto;
}

div.right-row {
    width: auto;
    height: 100%;
}

div.move-list {
    width: 100%;
    height: 400px;
    background: $g4;
    div.move-list-title {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        border-top: 2px solid $g1;
        border-bottom: 2px solid $g1;
        h2 {
            font-size: 24px;
            font-weight: 400;
        }
    }
    div.moves-container {
        width: 100%;
        max-width: 500px;
        margin: auto;
        height: calc(100% - 50px);
        overflow: auto;
        div.move {
            padding: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            img {
                width: 15px;
                height: 15px;
                margin-right: 5px;
            }
            p {
                font-size: 14px;
                margin-right: 5px;
                font-weight: bold;
            }
            div.move-capture {
                padding: 0 15px;
                display: none;
                flex-direction: row;
                align-items: center;
                &.active {
                    display: flex;
                }
            }
        }
    }
}