<div class="container">
    <div class="chess-board">
        <div class="main-row">
            <div class="board">
                <div class="row" *ngFor="let row of this.display;">
                    <div class="square" *ngFor="let item of row;">
                        <span class="position">{{item.square}}</span>
                        <img src="/assets/chess/{{item.status.color}}-{{item.status.type}}.svg" class="chess piece" [ngClass]="{'visible': item.status.type}" />
                    </div>
                </div>
            </div>
            <div class="right-row">
                <div class="game-info">
                    <div class="game-info-section">
                        <p class="label">Turn</p>
                        <img src="/assets/chess/{{this.turn}}-pawn.svg" class="label-img" />
                    </div>
                    <div class="game-info-section">
                        <p class="label">Moves</p>
                        <h2>{{this.totalMoves}}</h2>
                    </div>
                    <div class="game-info-section">
                        <p class="label"><i class="fas fa-clock"></i> AI</p>
                        <h2>{{this.aiTime}}s</h2>
                    </div>
                    <div class="game-info-section">
                        <p class="label"><i class="fas fa-clock"></i> Human</p>
                        <h2>{{this.humanTime}}s</h2>
                    </div>
                    <div class="game-info-section">
                        <p class="label"><img src="/assets/chess/w-q.svg" /> Check</p>
                        <h2>{{this.check}}</h2>
                    </div>
                    <div class="game-info-section">
                        <p class="label"><img src="/assets/chess/w-k.svg" /> Mate</p>
                        <h2>{{this.checkmate}}</h2>
                    </div>
                </div>
                <div class="move-list">
                    <div class="move-list-title">
                        <h2>Moves Done</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="game-info">
            <div class="game-info-section section-flex">
                <p class="label">
                    <img src="/assets/chess/w-p.svg" /> taken
                </p>
            </div>
        </div>
        <div class="game-info">
            <div class="game-info-section section-flex">
                <p class="label">
                    <img src="/assets/chess/b-p.svg" /> taken
                </p>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-brand">
            <img src="/assets/img/me.jpg" class="brand-img" />
            <img src="/assets/img/lambda.png" class="brand-img" />
            <h3>By Chris Cates, 2018</h3>
        </div>
        <div class="columns">
            <div class="column">
                <div class="links">
                    <a href="https://github.com/ChrisCates/chess-ai.ts" target="_blank" class="easing">
                        <i class="fab fa-github-square"></i> Source Code on Github
                    </a>
                    <a href="https://github.com/mvrahden/reinforce-js" target="_blank" class="easing">
                        <i class="fab fa-github-square"></i> RL Engine on Github
                    </a>
                    <a href="https://github.com/jhlywa/chess.js/" target="_blank" class="easing">
                        <i class="fab fa-github-square"></i> Chess Engine on Github
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="links">
                    <a href="https://chriscates.ca/a/chess" target="_blank" class="easing">
                        <i class="far fa-newspaper"></i> Article on ChrisCates.ca
                    </a>
                    <a href="https://udacity.com" target="_blank" class="easing">
                        <i class="fas fa-graduation-cap"></i> Learn ML on your own
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>